@media (min-width: 376px) {
    .landing__hero {
        position: fixed;
        right: 0;
        top: 20px;
        margin: 0;
    }

    .landing__text {
        p {
            font-size: 24px;
        }

        h1 {
            font-size: 62px;
        }
    }
}

@media (min-width: 481px) {

    .landing__header {
        img {
            width: 132px;
            height: auto;
        }
    }

    .landing {
        padding: 24px 16px 0 20px;
    }

    .landing__content {
        button {
            font-size: 20px;
            width: 143px;
            height: 60px;
        }
    }
}

@media (min-width: 600px) {
    .landing {
        padding: 24px 16px 0 24px;
    }

    .landing__hero {
        right: -30%;
        top: 0;
    }

    @media (min-height: 1040px) {
        .landing__hero {
            right: -40%;
        }
    }
}

@media (min-width: 768px) {
    .landing__text {
        p {
            width: max-content;
        }

        h1 {
            width: max-content;
        }
    }

    .landing__footer {
        gap: 16px;
        padding-bottom: 148px;

        h2 {
            padding: 0;
            width: unset;
        }

        a {
            padding: 0;
        }
    }
}

@media (min-width: 1280px) {
    .landing__text {
        p {
            font-size: 48px;
        }

        h1 {
            font-size: 104px;
        }
    }

    .landing__content {
        button {
            font-size: 24px;
            width: 183px;
            height: 60px;
        }
    }

    .landing__hero {
        right: 4%;
    }

    .landing__footer {
        flex-direction: row;
        gap: 32px;
    }
}

@media (min-width: 1440px) {
    :host {
        justify-content: center;
        height: 100dvh;
    }

    .landing__inner {
        height: 100%;
        align-items: stretch;
    }

    .landing__hero {
        display: none;
    }

    .landing__hero__bigger1440 {
        position: unset;
        height: 100%;
        display: flex;
        align-items: flex-end;

        picture {
            display: block;
            height: 100%;
        }

        img {
            display: block;
            height: 100%;
            max-height: 100%;
        }
    }
}
