@use '../../styles/variables' as *;

.app-footer {
  display: flex;
  justify-content: center;
  gap: 24px;

  a {
    text-decoration: unset;
    color: $main_green;
    font-size: 18px;
    font-weight: 500;
  }
}