@use '../../styles/variables' as *;

.results {
  min-height: 100vh;
  background: $main_green;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 32px;

  &__brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .header__article {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;

    img {
      width: 100%;
    }

    h1 {
      margin: 0;
      font-size: 32px;
      font-weight: 600;
      color: $light_cream;
    }

    p {
      margin: 0;
      font-size: 18px;
      color: $light_cream;
      font-weight: 500;
    }


  }
}

.choosen__elements {
  display: flex;
  gap: 12px;

  button {
    height: 32px;
    min-width: 72px;
    font-size: 18px;
    font-weight: 500;
    color: $main_green;
    border: none;
    background-color: $light_cream;
    padding: 0 16px;
    border-radius: 999px;
  }
}

.results__loader,
.results__error {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.results__loader .spinner {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 6px solid #e0e0e0;
  border-top-color: #00a86b;
  animation: spin 1s linear infinite;
}

.summery-card__section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.summary-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $light_green;
  gap: 28px;
  padding: 28px 24px;
  border-radius: 24px;

  span {
    font-size: 18px;
    font-weight: 500;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      color: $main_green;
    }

    img {
      width: 40px;
      height: 28px;
    }
  }

  &__label {
    color: $main_green;
    font-weight: 600;
    font-size: 24px;

    span {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $main_green;
    font-size: 18px;
    font-weight: 500;

    img {
      width: 20px;
      height: 20px;
    }
  }

  button {
    border: none;
    background-color: $light_cream;
    color: $main_green;
    font-weight: 500;
    font-size: 16px;
    width: 68px;
    height: 52px;
    cursor: pointer;

    &:hover {
      background-color: $dark_cream;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.results__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  button {
    background: transparent;
    border: none;
    color: $light_cream;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    img {
      width: 20px;
    }
  }
}