@media (min-width: 481px) {
    .country_cuisine {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        h2 {
            font-size: 32px;
        }

        a {
            img {
                width: 432px !important;
                height: auto !important;
            }
        }
    }
}

@media (min-width: 768px) {

    .cookbook {
        padding: 28px;
    }

    .cookbook_header_container {
        display: flex;
        gap: 48px;
        padding: 24px 12px;
    }

    .header_lower_container {
        min-width: 0;
        flex: 1;
    }

    .liked_article {
        max-width: 100%;
    }

    .header_upper_container {
        p {
            width: 270px;
        }
    }

    .country_cuisine {
        gap: 48px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: unset;
    }

    article a img {
        width: 302px !important;
    }
}

@media (min-width: 1280px) {
    article a img {
        width: 376px !important;
    }

    .header_upper_container {
        h1 {
            font-size: 64px;
        }

        p {
            font-size: 24px;
            width: 430px;
        }
    }

    .liked_article {

        article {
            p {
                font-size: 24px;
            }
        }
    }

    .liked_article article {
        width: 345px;
    }
}

@media (min-width: 1441px) {

    .cookbook_header_container__inner {
        display: flex;
        justify-content: center;
    }

    .cookbook_header_container {
        max-width: 1440px;
        padding: 24px 24px;
    }

    .country_cuisine__inner {
        display: flex;
        justify-content: center;
    }

    .country_cuisine {
        max-width: 1440px;
    }

    article a img {
        width: 429px !important;
    }

    .results__actions {
        button {
            font-size: 24px;
        }
    }

    .impressum_container {
        a {
            font-size: 20px;
        }
    }

    .preferences__brand {
        align-items: center;

        div {
            width: 1440px;
        }
    }
}