<main class="cookbook">
  <header class="preferences__brand">
    <app-header-green-logo></app-header-green-logo>
    <div>
      <button type="button" (click)="goBack()" aria-label="Go back">
        <img src="assets/img/choose-your-preferences/Arrow 11.svg" alt="">
      </button>
    </div>
  </header>

  <div class="cookbook_header_container__inner">
    <div class="cookbook_header_container">
      <section class="header_upper_container">
        <h1>Cookbook</h1>
        <p>From quick bites to gourmet delights, explore them all in our ultimate cookbook and get inspired for your
          next
          culinary adventure.</p>
      </section>

      <div class="header_lower_container">
        <section class="liked_heading">
          <h2>Most liked recipes</h2>
          <img src="assets/img/cookbook/Heart.svg" alt="">
        </section>

        <section class="liked_article">
          <article *ngFor="let recipe of mostLikedRecipes$ | async; trackBy: trackByRecipe"
            (click)="navigateToRecipe(recipe)" role="button" tabindex="0"
            (keydown.enter)="navigateToRecipe(recipe)">
            <div class="single_moste_liked_recipe">
              <div class="inner_container_schedule">
                <img src="assets/img/cookbook/schedule.svg" alt="">
                <span>Cooking time: {{ recipe.cookingTimeMinutes }}min</span>
              </div>
              <p>{{ recipe.title }}</p>
            </div>
            <button type="button">
              <img src="assets/img/cookbook/favorite.svg" alt="">{{ recipe.hearts }}
            </button>
          </article>

          <p *ngIf="(mostLikedRecipes$ | async)?.length === 0">
            No likes yet. Be the first to heart a recipe.
          </p>
        </section>

      </div>
    </div>
  </div>

  <div class="country_cuisine__inner">
    <section class="country_cuisine">

      <article>
        <h2> Italian cuisine <img src="assets/img/cookbook/nice.png" alt=""></h2> <!-- small icon -->
        <a [routerLink]="['/cookbook', 'italian']">
          <img src="assets/img/cookbook/italiano.svg" alt="">
        </a>
      </article>

      <article>
        <h2> German cuisine <img src="assets/img/cookbook/braezle.png" alt=""></h2> <!-- small icon -->
        <a [routerLink]="['/cookbook', 'german']">
          <img src="assets/img/cookbook/german.svg" alt="">
        </a>
      </article>

      <article>
        <h2> Japanese cuisine <img src="assets/img/cookbook/staebche.png" alt=""></h2> <!-- small icon -->
        <a [routerLink]="['/cookbook', 'japanese']">
          <img src="assets/img/cookbook/japanese.svg" alt="">
        </a>
      </article>

      <article>
        <h2> Gourmet cuisine <img src="assets/img/cookbook/stars.png" alt=""></h2> <!-- small icon -->
        <a [routerLink]="['/cookbook', 'gourmet']">
          <img src="assets/img/cookbook/gourmet.svg" alt="">
        </a>
      </article>

      <article>
        <h2> Indian cuisine <img src="assets/img/cookbook/chicken-rice.png" alt=""></h2> <!-- small icon -->
        <a [routerLink]="['/cookbook', 'indian']">
          <img src="assets/img/cookbook/indien.svg" alt="">
        </a>
      </article>

      <article>
        <h2> Fusion cuisine <img src="assets/img/cookbook/fusion.png" alt=""></h2> <!-- small icon -->
        <a [routerLink]="['/cookbook', 'fusion']">
          <img src="assets/img/cookbook/fusion.svg" alt="">
        </a>
      </article>

    </section>
  </div>

  <div class="results__actions">
    <button type="button" (click)="startOver()">Generate new recipe <img src="assets/img/cookbook/arrow-left.svg"
        alt=""></button>
  </div>

  <app-footer></app-footer>

</main>
