<main class="impressum">
  <header class="preferences__brand">
    <app-header-green-logo></app-header-green-logo>
    <div>
      <button type="button" (click)="goBack()" aria-label="Go back">
        <img src="assets/img/choose-your-preferences/Arrow 11.svg" alt="">
      </button>
    </div>
  </header>

  <div class="impressum__content__inner">
    <section class="impressum__content">
      <h1>Impressum</h1>
      <div class="impressum__block">
        <h2>Angaben gemäß 5 TMG</h2>
        <p>
          Danny Gruchmann<br>
          Pleißenweg 7<br>
          04600 Altenburg
        </p>
      </div>
      <div class="impressum__block">
        <h2>Kontakt</h2>
        <p>
          E-Mail: danny.grmn&#64;icloud.com
        </p>
      </div>
      <div class="impressum__block">
        <h2>Hinweis</h2>
        <p>Privatperson, kein Unternehmen.</p>
      </div>
    </section>
  </div>
</main>