@media (min-width: 480px) {
    .impressum__content__inner {
        display: flex;
        justify-content: center;
    }

    .impressum__content {
        h1 {
            font-size: 32px;
        }

        .impressum__block h2 {
            font-size: 24px;
        }

        p {
            font-size: 20px;
        }
    }
}

@media (min-width: 1440px) {
    .impressum__content {
        h1 {
            font-size: 40px;
        }

        .impressum__block h2 {
            font-size: 28px;
        }

        p {
            font-size: 24px;
        }
    }

    .preferences__brand {
        align-items: center;

        div {
            width: 1440px;
        }
    }
}