<main class="impressum">
  <header class="preferences__brand">
    <app-header-green-logo></app-header-green-logo>
    <div>
      <button type="button" (click)="goBack()" aria-label="Go back">
        <img src="assets/img/choose-your-preferences/Arrow 11.svg" alt="">
      </button>
    </div>
  </header>

  <div class="impressum__content__inner">
    <section class="impressum__content">
      <h1>Impressum</h1>
      <div class="impressum__block">
        <h2>Angaben gemäß § 5 DDG</h2>
        <p>
          Danny Gruchmann<br>
          Pleißenweg 7<br>
          04600 Altenburg<br>
          Deutschland
        </p>
      </div>
      <div class="impressum__block">
        <h2>Kontakt</h2>
        <p>
          E-Mail: danny.grmn&#64;icloud.com<br>
          Telefon: 0173 8482211
        </p>
      </div>
      <div class="impressum__block">
        <h2>Umsatzsteuer</h2>
        <p>
          Als Kleinunternehmer im Sinne von § 19 UStG wird keine
          Umsatzsteuer ausgewiesen.
        </p>
      </div>
    </section>
  </div>
</main>