@media (min-width: 481px) {
    .landing__header {
        img {
            width: 132px;
            height: auto;
        }
    }
}

@media (min-width: 1440px) {
    :host {
        width: 1440px;
    }
}

@media (min-width: 2560px) {
    .landing__header {
        img {
            width: 204px;
        }
    }
}