@use './styles/variables' as *;

@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
span,
label,
button,
strong,
li {
    font-family: 'Quicksand';
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $main_green transparent;
}

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: $main_green;
    border-radius: 999px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}